#container {
  width: 768px;
  overflow: hidden;
  overflow: auto;
  overflow-y: hidden;
  /* Hide vertical scrollbar */
  overflow-x: hidden;
  border: 1px solid;
}

canvas {
  display: block;
}

#playerImage {
  display: none;
}
